.page {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  border: 2px solid #000;
  padding: 20px;
}
@media (max-width: 768px) {
  .summary {
    width: 100%;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }
}

