input {
  border: none !important;
  outline: none;
  box-shadow: none;
  background: transparent;
}
th{
    width: 40px;
}
input:focus {
  outline: none;
}
.hide-on-export {
  display: none !important;
}